/* header 導覽列 */

.main-nav {
  background-color: var(--color-primary-50);
  /* 讓導覽列一直保持在上方 */
  position: sticky;
  top: 0;
  left: 0;
}

.logo {
  padding: 12px 0;
}

.nav-list {
  color: var(--color-neutral-700);
  /* 原先由上層提供背景色；改為絕對定位後，需在選單本身補上背景色 */
  background-color: var(--color-primary-50);
}

.nav-link {
  display: inline-block;
  padding: 4px 12px;
}

.btn-menu {
  display: none; /* 預設隱藏（桌機版不顯示） */
  border: 0;
  padding: 12px;
  background: transparent; /* 移除按鈕預設背景 */
  color: inherit; /* 繼承父層文字顏色 */
  font: inherit; /* 繼承父層字型設定 */
  cursor: pointer; /* 滑鼠移入時顯示手型游標 */
}

.hero {
  height: calc(
    100vh - 64px
  ); /* 桌機版扣除導覽列高度後，讓 hero 填滿剩餘螢幕高度 */
  overflow: hidden; /* 隱藏超出 hero 高度範圍的內容 */
}

.btn {
  padding: 12px 24px;
  border: none;
  border-radius: 999px;
  font: inherit;
  cursor: pointer;
}

.resume {
  border: 1px solid var(--color-neutral-700);
}

/* 以下均為裝飾物定位 */

.decorate-1 {
  position: absolute;
  top: 97px;
  left: -81px;
}

.decorate-2 {
  position: absolute;
  bottom: 87px;
  right: -80px;
}

.decorate-3 {
  position: absolute;

  .decorate-3.flower-left-bottom {
    width: 80px;
    height: 80px;
    bottom: 192px;
    left: 391px;
  }

  .decorate-3.flower-left-top {
    top: 56px;
    left: -226px;
  }

  .decorate-3.flower-right-center {
    top: 206px;
    right: -170px;
  }
}

.decorate-4 {
  position: absolute;
  top: 120px;
  left: -87px;
}

.decorate-5 {
  position: absolute;
  left: 211px;
  bottom: 83.53px;
}

.decorate-6 {
  display: none;
}

/* Service 區塊樣式 */

.card-list .card {
  min-width: 306px;
}

/* Projects 區塊樣式 */

.project-card:nth-of-type(1) {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2026-web-camp/project_1.png?raw=true");
}

.project-card:nth-of-type(2) {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2026-web-camp/project_2.png?raw=true");
}

.project-card:nth-of-type(3) {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2026-web-camp/project_3.png?raw=true");
}

.project-content {
  max-width: 386px;
}

/* Subscription 區塊樣式  */

.subscriptions {
  position: relative;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2026-web-camp/subscription_bg.png?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscriptions::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,.6);

  position: absolute;
  top: 0;
  left: 0;
}

/* footer（頁尾）區塊樣式 */
.contact-input-half {
  --gap: 24px;
  width: calc((100% - var(--gap)) / 2);
}

@media (max-width: 992px) {
  /* 手機版套用的 logo 樣式  */
  .logo {
    padding: 14px 0;
  }

  /* 漢堡選單手機版顯示 */
  .btn-menu {
    display: block;
    border: 1px solid var(--color-neutral-700); /* 手機版漢堡選單有一個外框 */
    border-radius: 50%; /* 使外框變成圓形  */
  }

  /* 
    手機版主導覽列預設為收合狀態。
    點擊選單按鈕後，透過加入 active class 切換為展開狀態。
  */
  .nav-list {
    opacity: 0; /* 讓內容透明，但元素本身仍會佔據版面空間 */
    max-height: 0px; /* 將高度收合為 0，避免元素佔據垂直空間 */
    display: flex; /* 顯示導覽列，並啟用 flex 排版 */
    flex-direction: column; /* 手機版選單項目改為垂直排列 */
    overflow: hidden; /* 隱藏超出 max-height 範圍的內容 */
    width: 100%; /* 讓導覽列寬度佔滿父層，搭配 flex-wrap 使其換行顯示 */
    text-align: center;

    /* 改成絕對定位的方式*/
    position: absolute;
    top: 60px;
    left: 0px;
  }

  /* 第一個選單項目增加上方間距 */
  .nav-list li:first-child {
    padding-top: 12px;
  }

  /* 最後一個選單項目增加下方間距 */
  .nav-list li:last-child {
    padding-bottom: 12px;
  }

  /* 主導覽列展開狀態 */
  .nav-list.active {
    opacity: 1; /* 讓內容顯示出來 */
    max-height: 176px; /* 使用固定高度控制展開範圍，讓動畫更穩定 */
    transition:
      opacity 0.3s ease-in,
      max-height 0.3s ease-in; /* 加入淡入與展開動畫 */
  }

  /* 手機版套用的 gap 規則 */
  .gap-md-12 {
    gap: 12px;
  }

  /* 手機版導覽文字樣式  */
  .label-mobile-sm {
    font-size: 14px;
    font-weight: 500;
  }

  /*  遮罩樣式 */
  .menu-open .mask {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  /* body 要隱藏捲軸 */
  body.menu-open {
    overflow: hidden;
  }

  .hero {
    height: calc(100vh - 68px);
  }

  .decorate-1 {
    top: 26px;
    left: -27px;
    width: 80px;
    height: 79px;
  }

  .decorate-2 {
    top: 274px;
    right: -25px;
    width: 80px;
    height: 69px;
  }

  .decorate-3 {
    .decorate-3.flower-left-bottom {
      width: 80px;
      height: 80px;
      top: 414px;
      left: 249px;
    }

   .decorate-3.flower-left-top {
      display: none;
    }

  .decorate-3.flower-right-center {
      display: none;
    }
  }

  .decorate-4,
  .decorate-5 {
    display: none;
  }

  /* 僅於手機版顯示的線條圖片 */
  .decorate-6 {
    position: absolute;
    display: block;
    top: 398.41px;
    left: 134.5px;
  }

  /* Service 區塊樣式 */
  .card-list .card {
    min-width: 260px;
  }

  /* Projects 區塊樣式 */
  .project-card {
    padding-top: 280px;

   .project-card:nth-of-type(1) {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2026-web-camp/project_1.png?raw=true");
}

.project-card:nth-of-type(2) {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2026-web-camp/project_2.png?raw=true");
}

.project-card:nth-of-type(3) {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2026-web-camp/project_3.png?raw=true");
}
  }

  .project-content {
    max-width: none;
  }

  /* Blogs 區塊樣式 */

  .blog-card {
    min-width: 260px;
  }

  /* Footer 頁尾區塊樣式 */
  .contact-input-half {
    width: 100%;
  }
}